

@font-face {
    font-family: "BeautifullyDeliciousSans";
    src: url("fonts/beautifully/BDSans-Bold.otf");
}
@font-face {
    font-family: 'Lucidity';
    src: local('Lucidity Expand'), local('Lucidity-Expand'),
        url('fonts/Lucidity-Expand/Lucidity-Expand.woff2') format('woff2'),
        url('fonts/Lucidity-Expand/Lucidity-Expand.woff') format('woff'),
        url('fonts/Lucidity-Expand/Lucidity-Expand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h2{
    font-family: "BeautifullyDeliciousSans",'Arial';
    text-transform:uppercase;
    text-align: center;
    
    font-size: 30px;
}

a{
    color :#FF9100;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: black;
}

/* ---------------------header------------------------ */
header{
    width: 100%;
    height: 15vh;
    background-color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header>.headerLogo{
    flex : 1;
    height: 100%;
}
header>.headerLogo>img{
    height: 100%;
}

header>.headerLogin{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex : 1;
    color: #FFEDC1;
}

header>.headerTitre{
    flex :2;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color : #FF9100;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 0;
}


.headerAdmin{
    width: 100%;
    background-color : #FFEDC1;
    height: 4.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
}
.boutton{
    font-size: inherit;
    margin : 1rem 0rem 1rem 0rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 5px 5px;
    
    border: none;
    text-align: center;
    background-color: #FF9100;
    color : white !important;
    text-decoration: none !important;
    
}
.headerLoger{
    display: flex;
    color: #FFEDC1;
    flex-direction: column;
    margin: 0 2% 0 0;
    flex:1;
    text-decoration: none;
}
.poste{
    font-family: "BeautifullyDeliciousSans",'Arial';
    text-transform:uppercase;
    text-align: center;
}
.nom{
    text-align: center;
}
/*  */

.containerTwoImg{
    display: flex;
    height: 85vh;
    justify-content: space-around;
    align-items: center;
    font-family: "Lucidity";
   
}

.containerTwoImg>a{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 40vw;
    height: 30vw;
   
    background-size: 120%;
    background-position: center;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    transition: 2s background-size, 2s opacity;
    border-radius: 5px 5px;

}
.containerTwoImg>a:hover{
    background-size: 160%; 
    opacity: 0.7;
}

.containerIndex{
    padding-top: 2%;
    width: 100%;
    background-color: rgb(255, 237, 193,1);
}


.containerIndex>h2{
    color: black;
    padding-bottom: 4vh;
}
.troisServices{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
}

.troisServices>div>svg{
    height: 20vh;
    width: 20vh;
}


.temoignage{
    margin : 0% 5% 0% 5%;
    flex: 1;
}

.temoignage>.enTete{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

}
.temoignages{
    display: flex;

}

#temoignage{
    margin-top: 20vh;
}
.footerTemoignage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.footerTemoignage>a{
    width: auto;
    flex :1;
    margin: 5% 10% 0 10%;
}

/* FOOTER */
footer{
    display: flex;
    color:#FFEDC1;
    align-items: center;
    margin-bottom: 10vh;
}
footer>img{
    
    height: fit-content;
    width: 25vw;

}
footer>div{
    flex :3;


}
.ligne{
    background-color: #FF9100;
    height: 2px;
    
    margin: 0 10% 0 10%;
}

.footerContainerOne{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footerContainerTwo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footerContainerGlobal{
    display: flex;
    flex-direction: row;
    margin: 10%;
    justify-content: space-around;
}
.horraires{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.horraires>h3{
    text-align: center;
}
.footerContainerGlobal>div>a{
    margin :  5% 0 5% 0;
}

/* ------------- Login ----------------------- */

.login{
    background-color: #FFEDC1;


}
h1{
    font-family: "BeautifullyDeliciousSans",'Arial';
    text-transform:uppercase;
    text-align: center;
    margin-top: 0;
}

.loginForm{
    display: flex;
    flex-direction: column;
    margin: 0 25vw 0 25vw;
}

.loginForm>a{
    margin : 4% 0 2% 0;
    text-align: center;
}

/* --------------------Administration --------------------- */

.horrairesModif{
    text-align: center;
    width: 80%;
    margin: 0 10% 0 10%;
}

.accent{
    text-align: center;
}

.bouttonHorraire{
    width: 20%;
    margin: 4vh 40% 0 40%;
}
.corpsCommentaire{
    display: flex;
    flex-direction: row;
}
.validation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.validation>a{
    margin: 2px 0rem 2px 0rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
}
.temoignageMessage{
    width: 100%;
}

.new_employee{
    background-color: #FFEDC1;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 2% 0 2% 0;
}

.new_employee>div{
    display: flex;
    flex-direction: column;
}


/* ----------------Service-------------------- */
.service{
    background-color: #FFEDC1;
}

.bandeau1, .bandeau2, .bandeau3{
    width: 100%;
    height: 20vh;
    overflow: hidden;
    position: sticky;
    background-size: cover;
    background-attachment: fixed;
}
.bandeau1{
    background-image: url(../image/bandeau1.jpg); 
}
.bandeau2{
    background-image: url(../image/bandeau2.jpg); 
}
.bandeau3{
    background-image: url(../image/bandeau3.jpg); 
}

.service>div>h2{
    margin-top: 10%;
}

.groupeService{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.groupeService>svg{
    flex:1;
    width: 100%;
    height: 100%;
    padding: 5%;
}
.groupeService>p{
    flex:3;
    padding: 0 10% 0 10%;
}

h1{
    background-color: black;
    color: #FF9100;
    padding-bottom: 40px;
}