

@font-face {
    font-family: "BeautifullyDeliciousSans";
    src: url("fonts/beautifully/BDSans-Bold.otf");
}
@font-face {
    font-family: 'Lucidity';
    src: local('Lucidity Expand'), local('Lucidity-Expand'),
        url('fonts/Lucidity-Expand/Lucidity-Expand.woff2') format('woff2'),
        url('fonts/Lucidity-Expand/Lucidity-Expand.woff') format('woff'),
        url('fonts/Lucidity-Expand/Lucidity-Expand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansMedium';
    src:
    url('fonts/Open/Open\ Sans\ Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.phone-only{
    display: none;
}
h2{
    font-family: "BeautifullyDeliciousSans",'Arial';
    text-transform:uppercase;
    text-align: center;
    font-size: 30px;
}

a{
    color :#FF9100;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: OpenSansMedium;
    width: 100vw;
    overflow-x: hidden;
}

/* ---------------------header------------------------ */
header{
    width: 100%;
    height: 15vh;
    background-color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerLogo{
    flex : 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.headerLogo>h2{
    color:white;
    margin: auto 5% auto 0;
    font-size: small;
}
header>.headerLogo>img{
    height: 100%;
}

header>.headerLogin{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex : 1;
    color: #FFEDC1;
}

header>.headerTitre{
    flex :2;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color : #FF9100;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 0;
}


.headerAdmin{
    width: 100%;
    background-color : #FFEDC1;
    height: 4.5rem;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    
}
.headerAdmin>.boutton{
    animation: ombre 3s ;
    animation-direction:normal; 
    animation-iteration-count : infinite; 
}
@keyframes ombre{
    0%   {box-shadow: transparent 0px 0px 12px -2px; }
    50%   { box-shadow: black 0px 0px 12px -2px;}
    100% {box-shadow: transparent 0px 0px 12px -2px;}
}

.boutton{
    font-size: inherit;
    margin : 1rem 0rem 1rem 0rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 3px 3px;
    
    border: none;
    text-align: center;
    
    color : white !important;
    text-decoration: none !important;
    background-color: #FF9100;
    overflow: hidden;
    
    z-index: 1;
    transition: 0.5s ;
    transition-timing-function: linear;

    display: flex;
    align-items: center;
    justify-content: center;
    
 
}
.boutton:hover{
    background: linear-gradient(to right ,#FF9100,#1f1407) ;
    box-shadow: black 0px 0px 12px -2px;
}



.headerLoger{
    display: flex;
    color: #FFEDC1;
    flex-direction: column;
    margin: 0;
    flex:1;
    text-decoration: none;
    justify-content: space-evenly;
}
.headerLoger>p{
    margin: 0;
}
.headerLoger>a{
    margin: 0;
}

.headerLoger:hover > .headerCache{
    display: flex;
    color: #FFEDC1;

}
.headerCache{
    display: none;
    position: absolute;

    color: #000000;
    background-color: #000000;

    text-align: center;

    content: "Se déconnecter";
    height: 15vh;
    width: 25vw;
    justify-content: center;
    align-items: center;

    transition: all 1s;
}

.poste{
    font-family: "BeautifullyDeliciousSans",'Arial';
    text-transform:uppercase;
    text-align: center;
}
.nom{
    text-align: center;
}
/*-----------------Index---------------------- */

input{
    min-height: 1.5rem;
    font-family: OpenSansMedium;
}

.chevron{
    top:-5vw;

    width: 4vw;
    height: 4vw;

    position: relative;
    
    z-index: 3;
    border-radius: 50%;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    
    animation: incitation 2s ;
    animation-direction:normal; 
    animation-iteration-count : infinite; 
}

@keyframes incitation {
    0%   { left:0px; top:0px;}
    50%   { left:0px; top:-120px;}
    100% { left:0px; top:0px;}
}

.bi-car-front::after{
    display: none;
}
.bi-wrench-adjustable::after{
    display: none;
}

.bi-clipboard2-check::after{
    display: none;
}

.bandeauImage{
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position-y: 20%;
    margin-top: 2%;
}

.containerTwoImg{
    display: flex;
    height: 85vh;
    justify-content: space-around;
    align-items: center;
    font-family: "Lucidity";
   
}

.containerTwoImg>a{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 40vw;
    height: 30vw;
   
    background-size: 120%;
    background-position: center;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    transition: 2s background-size, 2s opacity;
    border-radius: 5px 5px;

}
.containerTwoImg>a:hover{
    background-size: 160%; 
    opacity: 0.7;
}

.containerIndex{
    padding-top: 10%;
    width: 100%;
    background-color: rgb(255, 237, 193,1);   
}


.containerIndex>h2{
    color: black;
    padding-bottom: 4vh;
}
.troisServices{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    min-height: 80vh;
    align-items: center;
}

.troisServices>a>svg{
    height: 20vh;
    width: 20vh;
    z-index: 2;
    transition: all 1s;
}

.troisServices>a>svg:hover{
    height: 40vh;
    width: 40vh;
}
.texte1{
    display:block;
    color: #FFEDC1;
    z-index: 1;
    width: 40vh;
    position: relative;
    left : 0vh;
    top : -25vh;
    transition: all 2s;
    opacity: 0;

}
.box1:hover > .texte1{
    opacity: 1;
    display:block;
    color: #000000;
    width: 40vh;
    top : 0vh;
    position: relative;
}

.box1:hover > svg{
    height: 40vh;
    width: 40vh;
}

.temoignage{
    margin : 0% 5% 0% 5%;
    flex: 1;
}

.temoignage>.enTete{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

}
.temoignages{
    display: flex;

}

#temoignage{
    margin-top: 20vh;
}
.footerTemoignage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding-bottom: 5%;
}
.footerTemoignage>a, .footerTemoignage>button{
    width: auto;
    min-width: 20%;
    flex :1;
    margin: 5% 10% 0 10%;
}

.formulaire{
    display: flex;
    background-color: black;
    color: #FFEDC1;
    padding-top: 5%;
}
.formulaire>div{
    flex:1;
    padding: 5%;
}
.formulaire>form{
    flex: 2;
    display: flex;
}
.formulaire>form>div>input{
    border-radius: 5px 5px;
    border: none;
}

.formulaireMessage>input{
    height: 90%;
    width: 100%;
}

.formulaireMessage{
    padding: 5%;
    text-align: center;
}
.textFormulaire{
    text-align: justify;
    display: flex;
    flex-direction: column;
    flex:1;
}
.renseignement{
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: space-between;
    align-items: stretch;
    flex:1;   
}
.renseignement>button{
    margin-top: 5%;
    margin-bottom: 0;
}
/* FOOTER */
footer{
    display: flex;
    color:#FFEDC1;
    align-items: center;
    margin-bottom: 10vh;
    width: 100vw;
}
footer>a{
    flex:1;
}

footer>a>img{
    width: 25vw;
}
footer>div{
    flex :3;
}


.ligne{
    background-color: #FF9100;
    height: 2px;
    
    margin: 0 10% 0 10%;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.footerContainerGlobal{
    display: flex;
    flex-direction: row;
    margin: 10%;
    justify-content: space-around;
}
.footerContainerGlobal>div>a{
    text-decoration: none;
}
.description{
    margin:  5% 10% 5% 10%;
    text-align: center;
}
.horraires{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.horraires>h3{
    text-align: center;
}
.footerContainerGlobal>div>a{
    margin :  5% 0 5% 0;
}
.horaireTableau{
    text-align: center;
    margin: 2% 2% 0 0;
}
/* ------------- Login ----------------------- */

.login{
    background-color: #FFEDC1;
}
h1{
    font-family: "BeautifullyDeliciousSans",'Arial';
    text-transform:uppercase;
    text-align: center;
    margin:inherit;
    min-height: 5vh;
    padding: 2% 0 2% 0;
    background-color:transparent;
    color: #FF9100;
}

.loginForm{
    display: flex;
    flex-direction: column;
    margin: 0 25vw 0 25vw;
}

.loginForm>a{
    margin : 4% 0 2% 0;
    text-align: center;
}

.loginForm>p{
    text-align: justify;
}

.descritptionMDP{
    margin: auto;
}
#indiceMDP{
    height: 20px;
    width:0 ;
    background-color: #FF9100;
    border-radius: 5px;
}
#erreur{
    height: 20px;
    width:100% ;
    background-color: #FF9100;
    border-radius: 5px;
    background-color : #ff9999;
    border: #6a0000 solid 4px;
    color: #6a0000;
    display: none;
}

/* --------------------Administration --------------------- */
.administrtion-view{
    background-color:#FFEDC1;
}
input[type="time"]{
    border-radius: 0;
    border: solid 1px #1f1407;
}

#formulaireHoraire{
    margin-bottom: 10%;
}
.margeAdmin{
    padding: 0 10vw 0 10vw;
    padding-bottom: 10vh;
}


.adminChoix{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin:auto;
    
}
select{
    font-size: inherit;
    margin : 1rem 0rem 1rem 0rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 3px 3px;
    
    border: none;
    text-align: center;
    
    color : white ;
    text-decoration: none !important;
    background-color: #000000;
    color:#FFEDC1;
    overflow: hidden;

    z-index: 1;
    transition: 0.5s ;
    transition-timing-function: linear;
}
select:hover{
    background-color: #000000;
}
  
#newOccasionButton{
    margin-bottom: 5%;
}

.horrairesModif{
    text-align: center;
    width: 80%;
    margin: 0 10% 0 10%;
}

.accent{
    text-align: center;
}
.accent>button:hover{
    background-color: #972828;
    content: "x";
}

.bouttonHorraire{
    width: 20%;
    margin: 4vh 40% 0 40%;
}
.corpsCommentaire{
    display: flex;
    flex-direction: row;
}
.validation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.validation>button{
    margin: 2px 0rem 2px 0rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
}
.temoignageMessage{
    width: 100%;
}

.new_employee{
    background-color: #FFEDC1;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 2% 0 2% 0;
}

.new_employee>div{
    display: flex;
    flex-direction: column;
}


/* ----------------Service-------------------- */
.service{
    background-color: #FFEDC1;
}

.bandeau1, .bandeau2, .bandeau3{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: sticky;
    background-size: cover;
    background-attachment: fixed;
}
.bandeau1{
    background-image: url(../image/bandeau1.jpg); 
}
.bandeau2{
    background-image: url(../image/bandeau2.jpg); 
}
.bandeau3{
    background-image: url(../image/bandeau3.jpg); 
}

.service>div>h2{
    margin-top: 10%;
}

.groupeService{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.groupeService>svg{
    flex:1;
    width: 100%;
    height: 100%;
    padding: 5%;
}
.groupeService>p{
    flex:3;
    padding: 0 10% 0 10%;
}



/* -------------Témoignage---------------- */
.temoignagesGlobale{
    padding: 5%;
    color:#000000;
    background-color: #FFEDC1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
/* -----------Occasion-------------- */
.h1Occas{
    background-color: #000000;
}
.occasionVoiture{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: #FF9100;
    background-color: #FFEDC1;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}
.occasionInfos{
    flex:3;
    margin: 0 10vw 0 10vw;
    padding: 0;
    align-content: center;
    justify-content: center;
}
.occasionVoiture>img{
    flex:1;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.occasionInfos>div{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: center;
}
.occasionInfos>div>p{
    flex:1;
    margin: 0;
    padding: 0;
}
.occasionBoutton{
    flex:1;
    width: 100%;
}
.occasionTitre{
    font-size: 20px;
    color: #FFEDC1;
    font-family: "BeautifullyDeliciousSans",'Arial';
    text-transform:uppercase;
    text-align: center;
    font-size: 30px;
    background-color: transparent;
}
.occasionInfos>h2{
   color : black;
}
.filtreOccasion{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #FFEDC1;
    padding: 2% 0 5% 0;
}

.filtreOccasion>div{
    flex:1;
    padding: 0 5% 0 5%;
}
/* --------------Occasion plus ----------------- */

.occasionPlus{
    color: #FFEDC1;
}

.occasionEnTete{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-evenly;

}
.caracteristique{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.caracteristique>p{
    flex:1;
}
.bouttonReserver{
    text-align: center;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* -----------------new Occasion------------------ */
.new_occasion{
    color: #FFEDC1;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new_occasion>div{
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}


/* -----------------bandeau ------------------------*/

.headerBandeau{
    width: calc(100%-8px);
    background-color : #99ff9d;
    min-height: 4.5rem;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    color: #1a531c;
    border-radius: 5px 5px; ;
}
.headerBandeau>h2{
    margin: 0;
    padding: 1rem;
    flex:4;
}
.headerBandeau>a{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 0;
    margin : auto;
    width: 10vw;
}

.succes{
    background-color : #99ff9d;
    border: #1a531c solid 4px;
    color: #1a531c;
}
.succes>a{
    background-color : #198b26;
}
.erreur{
    background-color : #ff9999;
    border: #6a0000 solid 4px;
    color: #6a0000;
}
.erreur>a{
    background-color : #972828;
}
/* ---------------initialisation------------- */
.init{
    background-color: #000000;
    color: #FFEDC1;
}
.carte{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.init>p{
    text-align: center;
    margin: 0 25vw 5% 25vw;
}
