@keyframes ombre{
    0%   {box-shadow: transparent 0px 0px 12px -2px; }
    50%   { box-shadow: black 0px 0px 12px -2px;}
    100% {box-shadow: transparent 0px 0px 12px -2px;}
}

@media screen and (max-width: 738px) {

    .phone-only{
        display: block;
    }
    .computer-only{
        display: none;
    }
    .html, body, p {
        font-size: 15px;
    }
    /* ------------------index----------------------------- */
    .acceuil{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .acceuil>img{
        height: 90vw;
        width: 90vw;
    }
    .chevronContainer{
        display: none;
    }
    .chevron{
        width: 20vw;
        height: 20vw;
        position: relative;
        top:-50vh;
        margin: auto;  
    }
    @keyframes incitation {
        0%   { left:0px; top:0px;}
        50%   { left:0px; top:-40vh;}
        100% { left:0px; top:0px;}
    }

    .presentation>h1{
        padding: 5%;
    }
    .tiret{
        margin: 0 30% 0 30%;
    }
    .motParrot>p{
        width: 90vw;
    }
    .containerIndex{
        background-color: black;
        padding-top: 10%;
    }
    .containerTwoImg{
        flex-direction: column;
        height: 100vh;
    }
    .containerTwoImg>a{
        height: 55vw;
        width: 70vw;
        font-size: 20px;
    }
    .troisServices{
        flex-direction: column;
        min-height: 80vh;
    }

    .troisServices>a>svg{
        height : auto;
        width: 100%;
        padding: 2%;
    }
    .texte1{
        top : 0vh;
    }
    .box1{
        display: flex;
        flex-direction: row;
        background-color: #FFEDC1;
        align-items: center;
        justify-content: center;
        border-radius:5px;
    }
    .box1>svg{
        flex:1;
    }
    .box1:hover > svg{
        height: 20vh;
        width: 20vh;
    }
    .box1>h2{
        flex:3;
        display: block;
        opacity: 1;
        color: black;
    }
    #nouveauPassword{
        font-size: 1.5rem;
    }
    h2{
        font-size: 15px;
    }
    .containerIndex>h2 {
        color:#FFEDC1;
    }

    .temoignages, #temoignage, .bandeauImage{
        background-color: #FFEDC1;
        
    }
    #temoignage{
        color: black;
        margin :0;
        padding: 10%;
    }
    .temoignages{
        flex-direction: column;
        padding: 0 5% 0 5%;
    }
    .enTete{
        flex-direction: column;
    } 
    .enTete>div{
        height: fit-content;
        font-size: 1rem;
        width: 100%;
        font-style: italic;
    }  
    .enTete>div>svg{
        height: 5vh;
        width: 15%;
    }  
    .temoignage{
        padding-bottom: 10vh;
    }
    .footerTemoignage {
        align-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .boutton{
        min-height: 7vh;
        padding: auto;
        animation: ombre 3s ;
        animation-direction:normal; 
        animation-iteration-count : infinite; 
    }
    @keyframes lumiere{
        0%   {box-shadow: transparent 0px 0px 12px -2px; }
        50%   { box-shadow: #ffedc1 0px 0px 40px -2px;}
        100% {box-shadow: transparent 0px 0px 12px -2px;}
    }
    .lumiere{
        animation: lumiere 3s ;
        animation-direction:normal; 
        animation-iteration-count : infinite; 
    }
    .footerTemoignage{
        background-color: #ffedc1;
        padding-bottom: 5%;
    }
    /* -------------------formulaire-------------------------------- */
    .formulaire{
        flex-direction: column;
        padding: 0 10% 0 10%;
    }
    .formulaire>form{
        flex-direction: column;
    }
    input{
        min-height: 2rem;
        font-size: 1rem;
    }
    label, a, .boutton{
        font-size: 1rem;
    }
    /* ---------------------------footer------------------------------ */
    footer{
        flex-direction: column;
    }
    .footerContainerGlobal{
        flex-direction: column-reverse;
        width: 100%;
        margin : 0;
    }
    h3{
        font-size: 20px;
        text-align: center;
    }
    .horraires{
        display: none;
    }
    .horrairesPhone{
        display: block;
    }
    /* -----------------------header------------------------ */
    header{
        height: 7vh;
    }
    header>.headerTitre{
        display: none;
    }
    .headerLogo{
        justify-content: center;
    }
    .headerLogin{
        margin: auto;
    } 

    .headerLogin>a{
        font-size: inherit;
        margin : auto;
        padding: 0;
        border-radius: 3px 3px;
        
        border: none;
        text-align: center;
        
        color : white !important;
        text-decoration: underline!important;
        background-color:transparent;
        overflow: hidden;

        display: flex;
        align-items: center;
    }
    .loginForm {
        margin: 0 10vw 0 10vw;
    }
    .login{
        min-height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 5vh;

    }
    /* ------------------services-------------------- */
    .bandeau1 {
        background-position-x: -100vw;
    }
    .bandeau3 {
        background-position-x: -100vw;
    }
    /* ----------------------Occasion---------------- */

    .filtreOccasion{
        flex-direction: column;
        min-height: 70vh;
    }
    .filtreOccasion>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .occasionVoiture{
        flex-direction: column;
        align-items: center;
        
    }
    .occasionVoiture>img{
        width: 100%;
    }
    .occasionBoutton{
        padding: 0 ;
        width: 80vw;
    }
    .occasionInfos>div{
        margin: 0 10vw 0 10vw;
        padding: 0;
        align-content: center;
        justify-content: center;
    }
    .occasionInfos>.computer-only{
        display: none;
    }  
    .occasionPlusContenu{
        flex-direction: column;
    }

    /* -------------administration--------------- */
    .headerAdmin{
        flex-direction: column;
        height: 100%;
        height: fit-content;
        padding: 0 5% 0% 5%;
    }
    .administrtion-view>h1{
        font-size: 1.5rem;
    }
    .box1{
        background-color: #ffdf8f;
    }
    .bouttonHorraire{
        margin: 1rem 5% 1rem 5%;
        width: 90%;
    }
    .corpsCommentaire {
        display: flex;
        flex-direction: column;
    }
    .validation {
     
        flex-direction: row;
        justify-content: space-evenly;
    
    }
}

@media screen and (min-width: 432px) and (max-width: 738px) {

    .bandeau1 {
        background-position-x: 0vw;
    }
    .bandeau3 {
        background-position-x: 0vw;
    }
}

@media screen and (min-width: 738px) {
    .occasionVoiture{
        min-width: 200px;
        width: 20vw;
        float: left;
    }
}